* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "SF Pro JP", "SF Pro Text", "SF Pro Icons", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body h1 {
	font-size: 23px;
}

body h2 {
	font-size: 20px;
}

body h3 {
	font-size: 15px;
}

a {
  text-decoration: none;
}

header {
	background-color: #333333;
	color: #FFF;
	width: 100%;
	position :fixed;
	top: 0;
	z-index: 50;
}

header ul {
	width: 100%;
	height: 35px;
	font-size: 15px;
	list-style: none;
	display: flex;
	flex-flow: row;
	justify-content: space-around;
	white-space: nowrap;
	margin: 0 auto;
	padding: 0;
}

header li {
	padding: 0 10px;
}

header .logo {
	font-size: 18px;
	width: 35px;
}

header .menu-icon {
	display: none;
	margin: auto 0;
}

.header-link {
	padding: 0 22px;
	max-width: 100%;
	position: relative;
}

header a {
	color: white;
	display: block;
	line-height: 35px;
  transition: all 0.5s;
	vertical-align: middle;
}

header a:hover {
  color: #C0C0C0;
}

.shopping-bag {
	color: white;
	display: block;
	line-height: 35px;
  transition: all 0.5s;
	vertical-align: middle;
}

.shopping-bag:hover {
  color: #C0C0C0;
	cursor: pointer;
}

#head-search {
	display: none;
	background: none;
	color: #FFF;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 0 auto;
	width: 600px;
}

#head-search input{
	background: none;
	border: none;
	color: #FFF;
	line-height: 35px;
	font-size: 15px;
	width: 550px;
}

.shade-wrapper {
	position: fixed;
  top: 35px;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
	z-index: 100;
	width: 100%;
	height: 100%;
	content: "";
	display: none;
}

.hum-menu {
	display :none;
}

.shopping-contents {
	display: none;
	position: fixed;
	top: 40px;
	right: 0;
	background-color: #FFF;
	color: #000;
	width: 288px;
	height: 307px;
	padding: 0 20px;
	margin: 0;
	font-size: 13px;
}

.shopping-contents ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.shopping-contents p {
	padding: 33px 0;
	margin: 0;
	text-align: center;
	color: #808080;
}

.shopping-contents li {
	line-height: 43px;
	border-top: 1px solid #CCCCCC;
	color: #3399FF;
}

.shopping-contents a {
	padding: 0 10px;
	color: #3399FF;
}

.shopping-contents a:hover {
	text-decoration: underline;
}


.wrapper {
  text-align: center;
	overflow: hidden;
	width: 100%;
}

.main-topic {
	background-color: #444444;
	margin: 0;
}

.container {
	width: 100%;
	padding: 5px 0;
	margin: 0;
}

.background-noPic {
	background-color: #000000;
	width: 100%;
	padding: 60px 0 50px 0;
	margin: 0;
}

.background-pic {
	background-color: #000000;
	width: 100%;
	padding: 50px 0 0 0;
	margin: 0;
}

.sp_br {
	display: none;
}

.promotion {
	background-color: #000000;
	color: #FFF;
	width: 90%;
	vertical-align: middle;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 5px;
}

.promotion ul {
	width: 100%;
	list-style: none;
	display: flex;
	justify-content: center;
}

.promotion li {
	margin: 10px;
}

.time-limit {
	color: #CCCCCC;
	font-size: 10px;
	border: 1px solid #CCCCCC;
	border-radius: 4px;
	display: inline-block;
	padding: 5px;
	margin: 0 auto;
}

.promotion-links {
	list-style: none;
	padding: 0;
}

.promotion-links a:hover {
	text-decoration: underline;
}

.promotion-link {
	color: #3366FF;
	font-size: 15px;
}

.pic {
	width: 400px;
}

.background-iPad {
	background-color: #EEEEEE;
	width: 100%;
	padding: 50px 0 0 0;
	margin: 0;
}

.iPad-Pro {
	background-color: #EEEEEE;
	color: #000;
	width: 90%;
	vertical-align: middle;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 5px;

}

.iPad-Pro ul {
	width: 100%;
	list-style: none;
	display: flex;
	justify-content: center;
}

.iPad-Pro li {
	margin: 10px;
}

.small-containers {
	background-color: #FFF; 
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 0;
}

.small-container {
	color: #000;
	width: 49%;
	height: 500px;
	margin-bottom: 5px;
}

.small-container h1 {
	margin: 3px 0;
}

.today-Apple {
	background-image: url(../imgs/sand.png);
	background-size: cover;
	color: #000;
	width: 100%;
	height: 100%;
	padding: 50px 50px 0 50px;
}

.contents {
	background-color: #f5f5f5;
	color: #000;
	width: 100%;
	height: 100%;
	padding: 30px 30px 0 30px;
	position: relative;
}

.contents ul {
	width: 100%;
	list-style: none;
	display: flex;
	justify-content: center;
}

.contents li {
	margin: 10px;
}

.pic-area {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
}

.pic-area img {
	width: 400px;
	max-height: 300px;
	margin-top: auto;
}

#footer-area {
	background-color: #EEEEEE;
	width: 100%;
	margin-top:0;
}

footer {
	background-color: #EEEEEE;
	color: #888888;
	font-size: 12px;
	margin: 0 auto;
	max-width: 1024px;
	width: 100%;
	margin-top:0 auto;
	padding: 8px 22px;
	text-align: left;
}

footer li {
	font-weight: 400;
	padding: 5px auto;
}

footer a {
	color: #888888;
}

footer a:hover {
	text-decoration: underline;
}

footer h4 {
	margin: 0;
}

.footer-container {
	margin-top: 2px;
	border-top: 1px solid #CCCCCC;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	color: #000;
}

.footer-container .accbox {
	padding: 20px;
}

.footer-links {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	list-style: none;
	padding: 0;
}

.footer-links h4 {
	color: #333333;
}

.footer-links li {
	align-items: flex-start;
	margin-right: auto;
}

.footer-links a {
	color: #555555;
}

.footer-links-nest {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	list-style: none;
	padding: 15px 0 0 0;
}

.footer-links-nest .accbox {
	padding: 5px;
}

.footer-container-bottom {
	border-bottom: 1px solid #CCCCCC;
}

.footer-container-bottom a {
	color: #3333FF;
}

.accbox-top .sign {
	display: none;
}

